@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DemoMVC.Models.Person>
<h2>Danh sách Person</h2>
<a href="/Person/Create" class="btn btn-primary mb-3">Thêm mới</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Họ tên</th>
            <th>Giới tính</th>
            <th>Năm sinh</th>
            <th>Email</th>
            <th>SĐT</th>
            <th>Địa chỉ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.FullName</td>
                <td>@p.Gender</td>
                <td>@p.YearOfBirth</td>
                <td>@p.Email</td>
                <td>@p.PhoneNumber</td>
                <td>@p.Address</td>
            </tr>
        }
    </tbody>
</table>